In [2]:
import pandas as pd
import numpy as np

df = pd.read_excel('TotalesSaldos.xlsx')
#df.head(6)
df[['año','Saldo_total']]

     año   Saldo_total
0   2020  361957525238
1   2021  277111012572
2   2020  375212155175
3   2021  263986630515
4   2020  115054484609
5   2021   84339028020
6   2020  161641454561
7   2021  124904496473
8   2020  212519664301
9   2021  129934477146
10  2020  250159192367
11  2021  128153306538
12  2020  181675772112
13  2021  106433133503
14  2020  298906655635
15  2021  158432941792

In [20]:
df["Var"] = (df['Saldo_total'] + df['Saldo_total'])/df['Saldo_total'].shift(-1)
#df.loc[Saldo_total.index % 2!=0, "Variacion"] = np.nan
#df["var2"] = df.Saldo_total.rolling(2).sum().shift(-1)
df

,regional,año,mo_oficina,Saldo_total,Saldo_vencido,Obligaciones_Total,Obligaciones_vencidas,Var,var2
0,Antioquia,2020,240152,361957525238,17984737495,47499,3519,2.612365,6.390685e+11
1,NaN,2021,242923,277111012572,10466028184,24844,1409,1.477090,6.523232e+11
2,Bogotá,2020,466499,375212155175,21834829293,51408,3866,2.842660,6.391988e+11
3,NaN,2021,466499,263986630515,10963887054,19412,1077,4.588898,3.790411e+11
4,Cafetera,2020,269284,115054484609,5349288470,17848,1442,2.728381,1.993935e+11
5,NaN,2021,269284,84339028020,3119897954,8981,509,1.043532,2.459805e+11
6,Costa,2020,297886,161641454561,16853216703,22373,3099,2.588241,2.865460e+11
7,NaN,2021,297886,124904496473,8736164302,11939,1343,1.175463,3.374242e+11
8,Occidente,2020,440698,212519664301,11922633980,37204,3118,3.271182,3.424541e+11
9,NaN,2021,440698,129934477146,5104330258,13204,672,1.038814,3.800937e+11
10,Oriente,2020,312611,250159192367,8886505430,42208,2042,3.904061,3.783125e+11
11,NaN,2021,312611,128153306538,2852941316,11884,506,1.410791,3.098291e+11
12,Santanderes,2020,426487,181675772112,10167024866,26998,2179,3.413895,2.881089e+11
13,NaN,2021,426487,106433133503,4100888488,9673,594,0.712150,4.053398e+11
14,Sur,2020,619144,298906655635,25618299047,62656,7819,3.773289,4.573396e+11
15,NaN,2021,619144,158432941792,8189539211,15240,1170,NaN,NaN